.App {
  font-family: "Crimson Text", serif;
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
  padding: 5px 20px;
}

.App h1 {
  color: #143360;
  position: relative;
  left: 10px;
  font-size: 35px;
}

.App .forecast{
  position: relative;
  color: #143360;
  bottom: 50px;
  right: 30px;
}

.App h6 {
  font-size: 13px;
}


