.WeatherInfo h5 {
    color: #143360;
    padding: 0;
    margin-bottom: 0;
    font-weight: bold;
    position: relative;
    left: 10px;
  }
  .WeatherInfo ul {
    color: #204051;
    margin: 0;
    list-style: none;
    position: relative;
    right: 15px;
    font-size: 15px;
  }
  